
.home{
  margin-top: -85px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  opacity: 0.5;
}

.filter{
  margin-top: -85px;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-play-button {
  display: none !important;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

.text-container {
  font-size: 100vw;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.text-name {
  display: flex;
  color: #fff;
  font-size: 80px;
  font-weight:900;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.presentation {
  margin-top: -20px;
  font-size: 2rem;
  font-weight: 500;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff
}

.buttonHomeVideo{
  width: 300px;
  height: px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  color: #fff;
  border-width: 2px;
  background-color: transparent;
  margin-top: 40px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}


.buttonVideo {
  display:flex;
  width: 300px;
  align-items: center;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  border-radius: 20px;
  font-size: 20px;
  padding: 3px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  transition: background-color 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  

}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/7477/7477009.png");
  background-size: cover;
  margin-left: 8px;
}

.text {
  text-align: center;
}


.buttonVideo:hover{
  background-color: rgba(131, 95, 172, 0.6);
}



.buttonHomeVideo  img{
  width: 40px;
  height: 40px;
  padding: 8px;
}

.buttonHomeVideo p{
  text-decoration: none;
  color:#fff;
}

@media (max-width: 768px) {
  
  .text-name {
    font-size: 2.2rem;
  }

  .presentation {
    font-size: 1.2rem;
    margin-top: 20px;

  }

  .buttonVideo{
    width: 200px;
    padding: 1px;
  }

  .buttonVideo:hover{
    background-color: transparent;
  }




}

